<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Admin - Bách Hoá PTT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href=@Url.Content("~/Areas/Admin/Resources/css/bootstrap.min.css") rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href=@Url.Content("~/Areas/Admin/Resources/css/style.css") rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href=@Url.Content("~/Areas/Admin/Resources/css/font-awesome.css") rel="stylesheet">
    <!-- jQuery -->
    <link href=@Url.Content("~/Areas/Admin/Resources/css/fontroboto.css") rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href=@Url.Content("~/Areas/Admin/Resources/css/icon-font.min.css") type='text/css' />
    <!-- /js -->
    <script src=@Url.Content("~/Areas/Admin/Resources/js/jquery-1.10.2.min.js")></script>
    <!-- //js-->
    <script src=@Url.Content("~/Resources/css/canvasjs.min.js")></script>
    <script src=@Url.Content("~/Areas/Admin/Resources/js/amcharts.js")></script>
    <script src=@Url.Content("~/Areas/Admin/Resources/js/serial.js")></script>
    <script src=@Url.Content("~/Areas/Admin/Resources/js/light.js")></script>
    <script src=@Url.Content("~/Areas/Admin/Resources/js/radar.js")></script>
    <link href=@Url.Content("~/Areas/Admin/Resources/css/barChart.css") rel='stylesheet' type='text/css' />
    <link href=@Url.Content("~/Areas/Admin/Resources/css/fabochart.css") rel='stylesheet' type='text/css' />
    <!--clock init-->
    <script src=@Url.Content("~/Areas/Admin/Resources/js/css3clock.js")></script>
    <!--Easy Pie Chart-->
    <!--skycons-icons-->
    <script src=@Url.Content("~/Areas/Admin/Resources/js/skycons.js")></script>

    <script src=@Url.Content("~/Areas/Admin/Resources/js/jquery.easydropdown.js")></script>
</head>
<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="inner-content">
                <!-- header-starts -->
                <div class="header-section">
                    <!--menu-right-->
                    <div class="top_menu">
                        <div class="profile_details_left">
                            <ul class="nofitications-dropdown">
                                <li class="dropdown note dra-down">
                                    <div id="dd" class="wrapper-dropdown-3" tabindex="1">
                                        <span>Việt Nam</span>
                                        <ul class="dropdown">
                                            <li><a class="deutsch">Việt Nam</a></li>
                                            <li><a class="deutsch">English</a></li>
                                            <li><a class="english">Chinese</a></li>
                                        </ul>
                                    </div>
                                    <script type="text/javascript">
                                        function DropDown(el) {
                                            this.dd = el;
                                            this.placeholder = this.dd.children('span');
                                            this.opts = this.dd.find('ul.dropdown > li');
                                            this.val = '';
                                            this.index = -1;
                                            this.initEvents();
                                        }
                                        DropDown.prototype = {
                                            initEvents: function () {
                                                var obj = this;

                                                obj.dd.on('click', function (event) {
                                                    $(this).toggleClass('active');
                                                    return false;
                                                });

                                                obj.opts.on('click', function () {
                                                    var opt = $(this);
                                                    obj.val = opt.text();
                                                    obj.index = opt.index();
                                                    obj.placeholder.text(obj.val);
                                                });
                                            },
                                            getValue: function () {
                                                return this.val;
                                            },
                                            getIndex: function () {
                                                return this.index;
                                            }
                                        }

                                        $(function () {

                                            var dd = new DropDown($('#dd'));

                                            $(document).click(function () {
                                                // all dropdowns
                                                $('.wrapper-dropdown-3').removeClass('active');
                                            });

                                        });

                                    </script>
                                </li>
                                <li class="dropdown note">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope-o"></i> <span class="badge">3</span></a>
                                    <ul class="dropdown-menu two first">
                                        <li>
                                            <div class="notification_header">
                                                <h3>Bạn có 2 tin nhắn mới</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <!--<div class="user_img"><img src="images/1.jpg" alt=""></div>-->
                                                <div class="notification_desc">
                                                    <p>Tài</p>
                                                    <p><span>1 hour ago</span></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li class="odd">
                                            <a href="#">
                                                <!--<div class="user_img"><img src="images/in.jpg" alt=""></div>-->
                                                <div class="notification_desc">
                                                    <p>Tiên</p>
                                                    <p><span>3 hour ago</span></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#">Xem tất cả tin nhắn</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown note">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell-o"></i> <span class="badge">5</span></a>

                                    <ul class="dropdown-menu two">
                                        <li>
                                            <div class="notification_header">
                                                <h3>Bạn có 2 thông báo mới</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="user_img"><img src=@Url.Content("~/Areas/Admin/Resources/images/in.jpg") alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Huy đã gửi 1 phản hồi</p>
                                                    <p><span>1 hour ago</span></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li class="odd">
                                            <a href="#">
                                                <div class="user_img"><img src=@Url.Content("~/Areas/Admin/Resources/images/in5.jpg") alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Đơn hàng của Phương đã được giao</p>
                                                    <p><span>5 hour ago</span></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#">Xem tất cả thông báo</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <!--<li class="dropdown note">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="badge blue1">9</span></a>
                                    <ul class="dropdown-menu two">
                                        <li>
                                            <div class="notification_header">
                                                <h3>You have 9 pending task</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <span class="task-desc">Database update</span><span class="percentage">40%</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="progress progress-striped active">
                                                    <div class="bar yellow" style="width:40%;"></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
                                                    <div class="clearfix"></div>
                                                </div>

                                                <div class="progress progress-striped active">
                                                    <div class="bar green" style="width:90%;"></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <span class="task-desc">Mobile App</span><span class="percentage">33%</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="progress progress-striped active">
                                                    <div class="bar red" style="width: 33%;"></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="progress progress-striped active">
                                                    <div class="bar  blue" style="width: 80%;"></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#">See all pending task</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>-->
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <!--//profile_details-->
                    </div>
                    <!--//menu-right-->
                    <div class="clearfix"></div>
                </div>
                <!-- //header-ends -->
                <!--outter-wp-->
                <div class="outter-wp">
                    @RenderBody()
                </div>
                <footer style="height:18px !important">
                    <p style="margin-top:-11px !important">&copy 2019 BachHoaPTT . All Rights Reserved | Design by Bach Hoa PTT</p>
                </footer>
                <!--footer section end-->
            </div>
        </div>
        <!--//content-inner-->
        <!--/sidebar-menu-->
        <div class="sidebar-menu">
            <header class="logo">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href=@Url.Action("AdminIndex","AdminHome")>
                    <span id="logo"><strong style="color:#82ae46">Bách Hoá PTT</strong></span>
                </a>
            </header>
            <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
            <!--/down-->
            <div class="down">
                <a href="index.html"></a>
                <a href="index.html"><span class=" name-caret">Tiên PNT</span></a>
                <p>Administrator</p>
                <ul>
                    <li><a class="tooltips" href="#"><span>Cá nhân</span><i class="lnr lnr-user"></i></a></li>
                    <li><a class="tooltips" href="#"><span>Cài đặt</span><i class="lnr lnr-cog"></i></a></li>
                    <li><a class="tooltips" href="~/Home/Index" @*data-target="#logoutmodal" data-toggle="modal"*@><span>Đăng xuất</span><i class="lnr lnr-power-switch"></i></a></li>
                </ul>
            </div>

            <!--//down-->
            <div class="menu">
                <ul id="menu">
                    <li><a href=@Url.Action("AdminIndex","AdminHome")><i class="fa fa-tachometer"></i> <span>Trang chủ</span></a></li>
                    <li id="menu-academico">
                        <a href="#"><i class="fa fa-table"></i> <span> QL Dữ liệu</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-avaliacoes"><a href=@Url.Action("Index","TaiKhoans")>Tài khoản</a></li>
                            <li id="menu-academico-boletim"><a href=@Url.Action("Index","LoaiSanPhams")>Loại Sản phẩm</a></li>
                            <li id="menu-academico-boletim"><a href=@Url.Action("Index","SanPhams")>Sản phẩm</a></li>
                            <li id="menu-academico-avaliacoes"><a href=@Url.Action("Index","GiaoDiches")>Giao dịch</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="lnr lnr-envelope"></i> <span>Hộp thư</span><span class="fa fa-angle-right" style="float: right"></span></a>
                        <ul>
                            <li><a href="inbox.html"><i class="fa fa-inbox"></i>Hộp thư đến</a></li>
                            <li><a href="compose.html"><i class="fa fa-pencil-square-o"></i>Soạn thư</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="chart.html"><i class="lnr lnr-chart-bars"></i> <span>Thống kê</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                        <ul>
                            <li><a href=@Url.Action("TopFiveCustomerMuaNhieu","ThongKe")><i class="lnr lnr-map"></i>KH mua nhiều</a></li>
                            <li><a href=@Url.Action("SoLuongSPTheoLoai","ThongKe")><i class="lnr lnr-apartment"></i>SP Theo loại</a></li>
                            <li><a href=@Url.Action("TopLoaiMot","ThongKe")><i class="lnr lnr-map"></i>Top SP Loại Rau Củ</a></li>
                            <li><a href=@Url.Action("TopLoaiHai","ThongKe")><i class="lnr lnr-map"></i>Top SP Loại Trái Cây</a></li>
                            <li><a href=@Url.Action("TopLoaiBa","ThongKe")><i class="lnr lnr-map"></i>Top SP Loại Thức Uống</a></li>
                            <li><a href=@Url.Action("TopLoaiBon","ThongKe")><i class="lnr lnr-map"></i>Top SP Loại Thực Phẩm Khác</a></li>
                        </ul>
                    </li>
                    <li id="menu-comunicacao">
                        <a href="@Url.Action("GopY","AdminHome")"><i class="fa fa-smile-o"></i> <span>Góp ý</span><span class="fa fa-angle-double-right" style="float: right"></span></a>

                    </li>
                    <li id="menu-comunicacao">
                        <a href="#"><i class="fa fa-smile-o"></i> <span>Thêm</span><span class="fa fa-angle-double-right" style="float: right"></span></a>
                        <ul id="menu-comunicacao-sub">
                            <li id="menu-mensagens" style="width:120px">
                                <a href="#">No Available<i class="fa fa-angle-right" style="float: right; margin-right: -8px; margin-top: 2px;"></i></a>
                                <ul id="menu-mensagens-sub">
                                    <li id="menu-mensagens-enviadas" style="width:130px"><a href="#">No Available</a></li>
                                    <li id="menu-mensagens-recebidas" style="width:130px"><a href="#">No Available</a></li>
                                </ul>
                            </li>
                            <li id="menu-arquivos"><a href="#">No Available</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <script>
        var toggle = true;
        $(".sidebar-icon").click(function () {
            if (toggle) {
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({ "position": "absolute" });
            }
            else {
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function () {
                    $("#menu span").css({ "position": "relative" });
                }, 400);
            }
            toggle = !toggle;
        });
    </script>
    <!--js -->
    <link rel="stylesheet" href=@Url.Content("~/Areas/Admin/Resources/css/vroom.css")>
    <script type="text/javascript" @Url.Content("~/Areas/Admin/Resources/js/vroom.js")></script>
    <script type="text/javascript" @Url.Content("~/Areas/Admin/Resources/js/TweenLite.min.js")></script>
    <script type="text/javascript" @Url.Content("~/Areas/Admin/Resources/js/CSSPlugin.min.js")></script>
    <script src=@Url.Content("~/Areas/Admin/Resources/js/jquery.nicescroll.js")></script>
    <script src=@Url.Content("~/Areas/Admin/Resources/js/scripts.js")></script>
    <!-- Bootstrap Core JavaScript -->
    <script src=@Url.Content("~/Areas/Admin/Resources/js/bootstrap.min.js")></script>

    <script>

    </script>
</body>
</html>